  body{background-color: #cbd6eb24;background-image: url(../img/sgk.gif); background-repeat: no-repeat; background-position: 97% 97%;font-family: sans-serif}
  #main-input{ min-width: 30%; padding: 10px; border-radius: 3px;}
 .red{color: red}
 .hidden{display: none}
 .left{float: left}
 .col-sm-3{width: 33.33%}
 .col-sm-6{width: 66.66%}
 .col-sm-12{width: 100%}
 .col-sm-4{width: 25%}
 .table{display: table}
 .content{ padding: 0px 15px; border: 1px solid #ccc; margin-left: 15px; background-color: #f7f6f6; border-radius:4px}
 .content div{margin-top: 10px; margin-bottom: 12px;	}
 .arrow_box {
	position: relative;
}
 .right{float: right}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 20%;
	border: 1px solid #ccc;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(247, 246, 246, 0);
	border-right-color: #f7f6f6;
	border-width: 10px;
	margin-top: -10px;
}
.arrow_box:before {
	border-color: rgba(247, 246, 246, 0);
	border-right-color: #ccc;
	border-width: 12px;
	margin-top: -12px;
}
#popup{padding: 10px;
    background-color: #adc2ec;
    width: 75px;
    position: absolute;
    right: 0;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;}
#popup:hover{
 background-color: #a0baec;
 cursor: pointer;
}
#popup-form{
	width: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin: 0 auto;
    z-index: 1000;
	margin-top: 10%;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.close{position: absolute;right: 20px;top: 10px;width: 20px; height: 20px;}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 33px;
width: 2px;
background-color: #333;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}
.close:hover{cursor: pointer; color: red}